/* scrim */
.trScrim {
  position: fixed;
  z-index: 19001;
  top: 0px;
  left: 0px;
  background-color: #000;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
  height: 100%;
  width: 100%;
}
.trScrim.trActivity {
  z-index: 19009;
}

/* activity indicators */
.trActivityIndicator {
  display: none;
  position: absolute;
}
.trActivityIndicatorScrim {
  display: none;
  z-index: 19010;
  position: fixed;
  top: 45%;
  left: 48%;
}

/* notifications */
#trNotificationChain {
	display: block;
	position: fixed;
	top: 0px;
  right: 0px;
	color: #333;
}
.trNotification {
  border: 1px solid #111;
  border-right: 0px;
  border-top: 0px;
  -webkit-box-shadow: 1px -1px 1px #555;
	text-align: center;
  font-size: 1.25em;
	padding: 7px 80px;
	cursor: pointer;
	z-index: 19009;
  font-family: Tahoma;
  border-radius: 0px 0px 0px 10px;
  -moz-border-radius: 0px 0px 0px 10px;
  -webkit-border-radius: 0px 0px 0px 10px;
  text-shadow: 1px 1px 1px #FFF;
  position: relative;
}
.trNotification.error { 
  background-color: #ED3A3A;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
}
.trNotification.ok { background-color: #60ED3A }
.trNotification.warning { background-color: #EDC93A }
.trNotification.neutral { 
  background-color: #417BC7; 
  color: #FFF; 
  text-shadow: 1px 1px 1px #000;
}
.trNotification .trCount {
  font-size: 0.6em;
  text-shadow: 0px 0px 0px #000;
  background: #FFF;
  opacity: 0.85;
  padding: 0 5px;
  color: #333;
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px; 
  border-radius: 20px;
  position: absolute;
  left: 10px;
}

/* lightbox */
.trLightbox-wrapper {
  position: fixed;
  top: 0px;
  left: -10000px;
  width: auto;
  height: auto;
  z-index: 19002;
  color: #000000;
  background-color: #990000;
  padding: 5px 15px 15px 15px;
  background-clip: border;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
}

.trLightbox-wrapper a.close {
  font-family: Tahoma;
  font-weight: 700;
  font-size: 0.75em;
  cursor: pointer;
  z-index: 19003;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #FFF;
  text-decoration: none;
}

.trLightbox {
  margin: 0 auto;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #CACACA;
  position: relative;
}

.trLightbox-title {
  padding: 25px 0 10px;
  background-color: #990000;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  position: relative;
}

.trLightbox-content {
  padding: 10px 20px;
}

/* tooltip */
.trTooltip {
  margin: 0 0 0 25px;
  width: 280px;
  position: absolute;
  z-index: 19002;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 7px 7px 40px #20202F;
  -moz-box-shadow: 7px 7px 40px #20202F;
   box-shadow: 7px 7px 40px #20202F;
/*  border: 1px solid #FFF; */ /* try borders */
}
.trTooltip.right {
  -webkit-box-shadow: -7px 7px 40px #20202F;
  -moz-box-shadow: -7px 7px 40px #20202F;
  -box-shadow: -7px 7px 40px #20202F;
  margin: 0 25px 0 0;
}
.trTooltip-stem { /* try a div */
  position: absolute;
  top: 102px; /* 62 */
  left: -20px;
  border-color: transparent #CACACA transparent transparent;
  border-style: solid;
  border-width: 20px 20px 20px 0px;
}
.trTooltip.right .trTooltip-stem {
  left: auto;
  right: -20px;
  border-color: transparent transparent transparent #CACACA;
  border-width: 20px 0px 20px 20px;
}
.trTooltip-title {
  padding: 10px 20px;
  background-color: #990000;
  color: #FFF;
  position: relative;
  -moz-border-radius: 14px 14px 0 0;
  -webkit-border-radius: 14px 14px 0 0;
  border-radius: 14px 14px 0 0;
  font-size: 1.1em;
}

.trTooltip-title h2 {
  font-weight: 700;
  font-size: 1.3em;
  letter-spacing: 1px;
}

.trTooltip-content {
  background: #CACACA;
  color: #333;
  padding: 10px 20px;
  -moz-border-radius: 0 0 14px 14px;
  -webkit-border-radius: 0 0 14px 14px;
  border-radius: 0 0 14px 14px;
  min-height: 190px;
}
